@import 'utils/mixin';

.form-control:focus {
  @include hidePlaceholder {
    color: transparent;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;
  }
}

.user-avatar {
  width: 150px;
  height: 150px;
}

.user-avatar__small {
  width: 65px;
  height: 65px;
}
